table {
    border-collapse: collapse;
}

tr {
    text-align: center;
}

.rise {
    color: darkgreen;
    background-color: lightgreen;
}

.fall {
    color: darkred;
    background-color: lightcoral;
}

.neutral {
    color: darkblue;
    background-color: lightblue;
}